{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2>{% trans "Sign Up" %}</h2>

            <p>{% blocktrans %}Already have an account? Then please <a class="link" href="{{ login_url }}">sign in</a>{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% url 'account_signup' as action_url %}
            <form class="signup" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn custom_button_green btn-sm" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </div>

    {% if PASSKEY_SIGNUP_ENABLED %}
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <hr>
            <a class="btn btn-signup" href="{{ signup_by_passkey_url }}">{% trans "Sign up using a passkey" %}</a>
        </div>
    </div>
    {% endif %}

    {% if SOCIALACCOUNT_ENABLED %}
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}