{% extends 'base.html' %}

{% block content %}
<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Book A Table
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post" action="{% url 'make_reservation' %}">
                        {% csrf_token %}
                        <div>
                            {{ form.customer_name|as_widget(attrs={'class': 'form-control', 'placeholder': 'Your Name'}) }}
                        </div>
                        <div>
                            {{ form.contact_number|as_widget(attrs={'class': 'form-control', 'placeholder': 'Your Phone Number'}) }}
                        </div>
                        <div>
                            {{ form.number_of_guests|as_widget(attrs={'class': 'form-control nice-select wide'}) }}
                        </div>
                        <div>
                            {{ form.booking_date|as_widget(attrs={'class': 'form-control', 'type': 'date'}) }}
                        </div>
                        <div>
                            {{ form.booking_time|as_widget(attrs={'class': 'form-control', 'type': 'time'}) }}
                        </div>
                        <div class="btn_box">
                            <button type="submit" class="btn btn-primary">Book Now</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end book section -->
{% endblock %}