{% extends 'base.html' %}
{% load static %}


{% block content %}
{% for about in abouts %}
<section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{ about.image.url }}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{ about.heading }}
              </h2>
            </div>
            <p>
              {{ about.content }}
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
{% endblock %}