{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


{% block content %}
<!-- comment section -->
<!-- client section for last 10 aprooved comments -->
<section class="client_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center psudo_white_primary mb_45">
      <h2>
        We our hope you have nice experiance..
      </h2>
    </div>
    <form method="POST" class="mb-4">
      {% csrf_token %}
      {{ form|crispy }}
      <!-- Render the entire form with Crispy Forms styling -->
      <button type="submit" class="btn custom_button">Submit Comment</button>
    </form>
    <div class="carousel-wrap row ">
      <div class="owl-carousel client_owl-carousel">
        {% for comment in comments %}
        {% if comment.user.is_authenticated %}
        <div class="item">
          <div class="box">
            <div class="detail-box">
              <p>
                {{ comment.comment }}
              </p>
              <h6>
                {{ comment.user.username }}
                <!-- Display user's username -->
              </h6>
              <p>
                {{ comment.comment_date|date:"F d, Y" }}
                <!-- Format the date -->
              </p>
            </div>
            <div class="img-box">
              <img src="{% static 'images/client1.jpg' %}" alt="" class="box-img">
              <!-- Use a placeholder image as user images may not be available -->
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end comment section -->
<!-- booktable section -->

<!-- end booktable section -->


{% endblock %}